{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<div>
  <h1>Amino Acid Detection</h1>
  <form method="post">
    <div>
      <input
        autocomplete="off"
        autofocus
        name="sequence"
        placeholder="Sequence"
      />
    </div>
    <button type="submit">Translate</button>
  </form>
  <div>
    <table border="1">
      <thead>
        <td>Original Sequence</td>
        <td>Translated Sequence</td>
      </thead>
      {% for row in rows %}
      <tr>
        <td>{{row["oldsequence"]}}</td>
        <td>{{row["newsequence"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <form method="post">
    <div></div>
    <button name="clearTable" type="reset">Clear table</button>
  </form>
</div>
{% endblock %}
